<a href="https://colab.research.google.com/github/ivan74rus/MTS-ML-CUP/blob/v2/MTS_CUP_ipynb%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##import

In [1]:
#подключить гугл диск
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#instal catboost
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 8.8 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.5.3)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (4.38.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.2.2)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [1]:
import pandas as pd
import joblib
import numpy as np
import time
import pyarrow.parquet as pq
import scipy
import bisect
import sklearn.metrics as metrics
from catboost import CatBoostClassifier, CatBoostRegressor, Pool
from sklearn.model_selection import train_test_split
from sklearn.calibration import calibration_curve, CalibratedClassifierCV

In [2]:
# константы
LOCAL_DATA_PATH = '/content/drive/MyDrive/DS/MTS/'
#SPLIT_SEED = 42
DATA_FILE = 'competition_data_final_pqt'
TIM_LIST = 'top_300urls_timur.xlsx'
TARGET_FILE = 'public_train.pqt'
SUBMISSION_FILE = 'submit_2.pqt'

# 1.Загружаем в пандус кусок  и готовим для ML.
 Так как ОЗУ всего 12 Гигов и не хватает, то будем выдергивать нужные фичи по кускам, сохранять все на диск в csv и затем с диска снова подгружать.

### 1.0. Условие на нужные урлы 
 
Оставим только урлы из списка Тимура,   
Подгрузим submit

In [ ]:
#оставляем урлы Тимура , это отсортированные топ 300 урл по реквестам, и руками выкинуты технические
timur_url_list_1 = pd.read_excel(f'{LOCAL_DATA_PATH}{TIM_LIST}')
#технические для дропа
timur_url_list_tech = timur_url_list_1[timur_url_list_1['url_host'] == 0]['Unnamed: 0'].values

#дропаем технические
timur_url_list = pd.read_csv(f'{LOCAL_DATA_PATH}top_all_urls.csv')
timur_url_list = timur_url_list.query('index not in @timur_url_list_tech')

# 3300 уже не хватает ОЗУ чтобы сшить, нужно разделять похоже
timur_url_list = timur_url_list.reset_index(drop=True).loc[:2500,'index'].values
len(timur_url_list)
#timur_url_list

2501

In [ ]:
#сабмиты и таргеты
#сразу дропаем ненужный возраст из таргет
id_for_target = pq.read_table(f'{LOCAL_DATA_PATH}/{TARGET_FILE}').to_pandas().query('age >=19 ') 


id_for_submit = pq.read_table(f'{LOCAL_DATA_PATH}/{SUBMISSION_FILE}').to_pandas()

In [ ]:
#функция разбивки возраста по категориям
def age_bucket(x):
    return bisect.bisect_left([19,25,35,45,55,65], x)

#my 
def age_bascket(x):
  if x <= 25 :
    return 1
  elif 25 < x <= 35:
    return 2
  elif 35 < x <= 45:
    return 3
  elif 45 < x <= 55:
    return 4
  elif 55 < x <= 65:
    return 5
  return 6  
#bisect.bisect_right([19,26,36,46,56,66], x) # вроде так надо пишут

In [ ]:
age_bascket(33)

2

## 1.1 Загружаем из паркета ЦИКЛОМ нужные фичи и обрабатываем кусок.
Формируем часть дф готового к обработке, сохраняем на диск уже раздельно трайн и фо_сабмит выбокри. Все дял экономии памяти ОЗУ. Все разбивки  и сохраннеия все в цикле. Иначе финальный кусок не оббработать никак.

In [ ]:
part_list  = ['part-00000-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00001-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00002-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00003-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00004-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00005-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00006-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00007-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00008-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
              'part-00009-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
    
]

In [ ]:
# цикл грузит из паркета нужные даные и отсеивает по топ урлам из списка
for i in  range(0,10): #(len(part_list))
  
  #тут выбираем какие колонки из паркета грузим, можно через переменну определить
  # 'cpe_model_name' 'cpe_manufacturer_name',
  df = pq.read_table(f'{LOCAL_DATA_PATH}{part_list[i]}').select([	'cpe_model_name',	 'url_host',		'request_cnt',	'part_of_day','user_id']).to_pandas()
  
  #контроль цикла, загрузка из паркета в память.
  print ('part', i, 'load, shape = ',df.shape)
  # для подсчета соко пропало user_id после обрезки по урлам
  user_id_count = df['user_id'].nunique()
  print ('part', i, 'до обрезки user_id = ', df['user_id'].nunique())

  # дф по времени суток / нужно это делать на всем дф, со всеми урлами
  df_user_part_of_day = df.pivot_table(index='user_id', columns='part_of_day', values='request_cnt',aggfunc='count').reset_index()

  #обрезаем по урлам
  df = df.query('url_host in @timur_url_list')
  print ('part', i, 'load, shape после обрезки урлов = ',df.shape)
  print ('part', i, 'после обрезки user_id уменьшилось на :',  user_id_count - df['user_id'].nunique())
  # дф по урлам формируем 
  df_user_url = df.pivot_table(index='user_id', columns='url_host', values='request_cnt',aggfunc='count').reset_index()

  #обезаем дф до состояния каждый юзер 1 строчка
  df.drop(columns=['url_host', 'request_cnt', 'part_of_day'], inplace=True)
  df.drop_duplicates(inplace=True)
  
 
  #обьединяем все куски тк что снала идет полная по user_id таблица с part_of_day
  # ее объединяем how='outer', чтобы все строки сохранились
  # для строк где нет урлов,будет прогнозирвоаться по part_day и модели балалайки
  print ('df_user_part_of_day.shape',df_user_part_of_day.shape )
  df = df_user_part_of_day.merge(df, how='outer', on='user_id')
  print ('после "df = df_user_part_of_day.merge(df_',df.shape)
  df = df.merge(df_user_url, how='outer', on='user_id')
  print ('после всех merge размерность df',df.shape)
  
  #теперь разделяем на train submit 
  df_train = df.merge(id_for_target,  on='user_id')
  df_submit = df.merge(id_for_submit, on='user_id')

  # кэт ругается на нан
  df_train.loc[df_train['cpe_model_name'].isna() ,'cpe_model_name'] = '0'

  #дропаем возраст <19  сразу тут из  трайн (убирается в merge)
  #df_train = df_train[df_train['age'] >=19] 
  
  #категоризируем возраст - заменна функция на мою
  df_train['age'] = df_train['age'].map(age_bascket)
  
  #сохраняем на диск  подготовленные файлы
  
  #df_train.reset_index(drop=True).to_pickle(f'{LOCAL_DATA_PATH}train_part_{i}.pkl')
  df_submit.to_feather(f'{LOCAL_DATA_PATH}submit_part_{i}.feather')

  # все заранее разбиваем, т к потом не хватает ОЗУ общий файл обрабатывать
  
  # сохраняем фичи и таргет для age
  df_train.drop(['user_id', 'age', 'is_male'], axis = 1).reset_index(drop=True).to_feather(f'{LOCAL_DATA_PATH}train_feat_age_part_{i}.feather') #,index = False)
  #df_train.drop(['user_id', 'age', 'is_male'], axis = 1).to_csv(f'{LOCAL_DATA_PATH}train_feat_age_part_{i}.csv' ,index = False)
  df_train['age'].to_csv(f'{LOCAL_DATA_PATH}train_target_age_part_{i}.csv', index = False)
    

  # сохраняем фичи и таргет для is_male
  #дропаем перед ML по полу, заранее нельзя, тк  там много данных по возрасту
  print ('df_train.shape до обрезки is_male != NA',df_train.shape )
  df_train = df_train[df_train['is_male'] != 'NA']
  print ('df_train.shape ПОСЛЕ обрезки is_male != NA',df_train.shape )
  
  df_train.drop(['user_id', 'age', 'is_male'], axis = 1).reset_index(drop=True).to_feather(f'{LOCAL_DATA_PATH}train_feat_is_male_part_{i}.feather')
  df_train['is_male'].to_csv(f'{LOCAL_DATA_PATH}train_target_is_male_part_{i}.csv', index = False)


  #итого сохраняется файл сабмита + общий_трайн + фич+таргет_age + фич+таргет_is_male = 6шт
  # все нужно для анализа

  print ('part' , i , 'saved on disc')

part 0 load, shape =  (32638709, 5)
part 0 до обрезки user_id =  41594
part 0 load, shape после обрезки урлов =  (15204490, 5)
part 0 после обрезки user_id уменьшилось на : 419
df_user_part_of_day.shape (41594, 5)
после "df = df_user_part_of_day.merge(df_ (41594, 6)
после всех merge размерность df (41594, 2506)
df_train.shape до обрезки is_male != NA (27081, 2508)
df_train.shape ПОСЛЕ обрезки is_male != NA (26529, 2508)
part 0 saved on disc
part 1 load, shape =  (32423119, 5)
part 1 до обрезки user_id =  41570
part 1 load, shape после обрезки урлов =  (15048716, 5)
part 1 после обрезки user_id уменьшилось на : 497
df_user_part_of_day.shape (41570, 5)
после "df = df_user_part_of_day.merge(df_ (41570, 6)
после всех merge размерность df (41570, 2506)
df_train.shape до обрезки is_male != NA (26936, 2508)
df_train.shape ПОСЛЕ обрезки is_male != NA (26394, 2508)
part 1 saved on disc
part 2 load, shape =  (32146620, 5)
part 2 до обрезки user_id =  41335
part 2 load, shape после обрезки урлов =  (14961417, 5)
part 2 после обрезки user_id уменьшилось на : 412
df_user_part_of_day.shape (41335, 5)
после "df = df_user_part_of_day.merge(df_ (41335, 6)
после всех merge размерность df (41335, 2505)
df_train.shape до обрезки is_male != NA (26801, 2507)
df_train.shape ПОСЛЕ обрезки is_male != NA (26269, 2507)
part 2 saved on disc
part 3 load, shape =  (32156858, 5)
part 3 до обрезки user_id =  41640
part 3 load, shape после обрезки урлов =  (14941904, 5)
part 3 после обрезки user_id уменьшилось на : 453
df_user_part_of_day.shape (41640, 5)
после "df = df_user_part_of_day.merge(df_ (41640, 6)
после всех merge размерность df (41640, 2506)
df_train.shape до обрезки is_male != NA (26901, 2508)
df_train.shape ПОСЛЕ обрезки is_male != NA (26338, 2508)
part 3 saved on disc
part 4 load, shape =  (32119163, 5)
part 4 до обрезки user_id =  41286
part 4 load, shape после обрезки урлов =  (14976042, 5)
part 4 после обрезки user_id уменьшилось на : 435
df_user_part_of_day.shape (41286, 5)
после "df = df_user_part_of_day.merge(df_ (41286, 6)
после всех merge размерность df (41286, 2505)
df_train.shape до обрезки is_male != NA (26794, 2507)
df_train.shape ПОСЛЕ обрезки is_male != NA (26251, 2507)
part 4 saved on disc
part 5 load, shape =  (32300908, 5)
part 5 до обрезки user_id =  41577
part 5 load, shape после обрезки урлов =  (15024332, 5)
part 5 после обрезки user_id уменьшилось на : 458
df_user_part_of_day.shape (41577, 5)
после "df = df_user_part_of_day.merge(df_ (41577, 6)
после всех merge размерность df (41577, 2506)
df_train.shape до обрезки is_male != NA (26962, 2508)
df_train.shape ПОСЛЕ обрезки is_male != NA (26410, 2508)
part 5 saved on disc
part 6 load, shape =  (32134423, 5)
part 6 до обрезки user_id =  41461
part 6 load, shape после обрезки урлов =  (14960835, 5)
part 6 после обрезки user_id уменьшилось на : 427
df_user_part_of_day.shape (41461, 5)
после "df = df_user_part_of_day.merge(df_ (41461, 6)
после всех merge размерность df (41461, 2506)
df_train.shape до обрезки is_male != NA (26817, 2508)
df_train.shape ПОСЛЕ обрезки is_male != NA (26287, 2508)
part 6 saved on disc
part 7 load, shape =  (32523675, 5)
part 7 до обрезки user_id =  41612
part 7 load, shape после обрезки урлов =  (15094396, 5)
part 7 после обрезки user_id уменьшилось на : 434
df_user_part_of_day.shape (41612, 5)
после "df = df_user_part_of_day.merge(df_ (41612, 6)
после всех merge размерность df (41612, 2506)
df_train.shape до обрезки is_male != NA (26839, 2508)
df_train.shape ПОСЛЕ обрезки is_male != NA (26356, 2508)
part 7 saved on disc
part 8 load, shape =  (32136680, 5)
part 8 до обрезки user_id =  41683
part 8 load, shape после обрезки урлов =  (14917524, 5)
part 8 после обрезки user_id уменьшилось на : 424
df_user_part_of_day.shape (41683, 5)
после "df = df_user_part_of_day.merge(df_ (41683, 6)
после всех merge размерность df (41683, 2505)
df_train.shape до обрезки is_male != NA (26883, 2507)
df_train.shape ПОСЛЕ обрезки is_male != NA (26316, 2507)
part 8 saved on disc
part 9 load, shape =  (32319280, 5)
part 9 до обрезки user_id =  41559
part 9 load, shape после обрезки урлов =  (15059211, 5)
part 9 после обрезки user_id уменьшилось на : 424
df_user_part_of_day.shape (41559, 5)
после "df = df_user_part_of_day.merge(df_ (41559, 6)
после всех merge размерность df (41559, 2506)
df_train.shape до обрезки is_male != NA (26908, 2508)
df_train.shape ПОСЛЕ обрезки is_male != NA (26358, 2508)
part 9 saved on disc

In [ ]:
print (df_user_part_of_day.shape )
print (df.shape)
print (df_submit.shape)

(41594, 5)
(41175, 2411)
(14237, 2411)

# 2.Склейка и сохранение  итогового файла. 
Тут уже файлы готовые , относительно не большие. сшиваются и сохр на диск,   хватает ОЗУ.

In [54]:
list_train  = [
    'train_part_0.feather',
    'train_part_1.feather',
    'train_part_2.feather',
    'train_part_3.feather',
    'train_part_4.feather',
    'train_part_5.feather',
    'train_part_6.feather',
    'train_part_7.feather',
    'train_part_8.feather',
    'train_part_9.feather',
     ]

list_submit  = [
    'submit_part_0.feather',
    'submit_part_1.feather',
    'submit_part_2.feather',
    'submit_part_3.feather',
    'submit_part_4.feather',
    'submit_part_5.feather',
    'submit_part_6.feather',
    'submit_part_7.feather',
    'submit_part_8.feather',
    'submit_part_9.feather',
     ]

In [ ]:
%%time
#цикл склейки train общего
#первый файл
df = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train[0]}')
print (list_train[0],'shape', df.shape)


for i in range (1,len(list_train)):
  df_ = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train[i]}')
       
  #сшиваем
  df = pd.concat([df, df_], ignore_index=True)
  #контролль цикла
  print (list_train[i],'shape', df_.shape)
  print ('Суммарное df.shape',df.shape)


# сохранение

#df.to_csv(f'{LOCAL_DATA_PATH}/train_df_all_parts.csv')
#df.to_pickle(f'{LOCAL_DATA_PATH}/train_df_all_parts.pkl')
df.to_feather(f'{LOCAL_DATA_PATH}/train_df_all_parts.feather')
print ('Итоговый файл сохранен на диск')

FileNotFoundError: ignored

### цикл склейки submit

In [56]:
#цикл склейки submit
#первый файл
df = pd.read_feather(f'{LOCAL_DATA_PATH}{list_submit[0]}')
df.loc[df['cpe_model_name'].isna() ,'cpe_model_name'] = '0'
print (list_submit[0],'shape', df.shape)

for i in range (1,len(list_submit)):
  df_ = pd.read_feather(f'{LOCAL_DATA_PATH}{list_submit[i]}')
  df_.loc[df_['cpe_model_name'].isna() ,'cpe_model_name'] = '0'
  df = pd.concat([df, df_], ignore_index=True)
  #контролль цикла
  print (list_submit[i],'shape', df_.shape)
  #print ('Суммарное df.shape',df.shape)


# сохранение 
#df.to_pickle(f'{LOCAL_DATA_PATH}/submit_df_all_parts.pkl')
df.to_feather(f'{LOCAL_DATA_PATH}/submit_df_all_parts.feather')
#df.to_csv(f'{LOCAL_DATA_PATH}/submit_df_all_parts.csv')
print ('Итоговый файл сохранен на диск')

submit_part_0.feather shape (14368, 2506)
submit_part_1.feather shape (14463, 2506)
submit_part_2.feather shape (14366, 2505)
submit_part_3.feather shape (14572, 2506)
submit_part_4.feather shape (14315, 2505)
submit_part_5.feather shape (14426, 2506)
submit_part_6.feather shape (14485, 2506)
submit_part_7.feather shape (14616, 2506)
submit_part_8.feather shape (14623, 2505)
submit_part_9.feather shape (14490, 2506)
Итоговый файл сохранен на диск

In [ ]:
list_train_feat_age  = [
    'train_feat_age_part_0.feather',
    'train_feat_age_part_1.feather',
    'train_feat_age_part_2.feather',
    'train_feat_age_part_3.feather',
    'train_feat_age_part_4.feather',
    'train_feat_age_part_5.feather',
    'train_feat_age_part_6.feather',
    'train_feat_age_part_7.feather',
    'train_feat_age_part_8.feather',
    'train_feat_age_part_9.feather',
     ]

list_train_target_age  = [
    'train_target_age_part_0.csv',
    'train_target_age_part_1.csv',
    'train_target_age_part_2.csv',
    'train_target_age_part_3.csv',
    'train_target_age_part_4.csv',
    'train_target_age_part_5.csv',
    'train_target_age_part_6.csv',
    'train_target_age_part_7.csv',
    'train_target_age_part_8.csv',
    'train_target_age_part_9.csv',
     ]
list_train_feat_is_male  = [
    'train_feat_is_male_part_0.feather',
    'train_feat_is_male_part_1.feather',
    'train_feat_is_male_part_2.feather',
    'train_feat_is_male_part_3.feather',
    'train_feat_is_male_part_4.feather',
    'train_feat_is_male_part_5.feather',
    'train_feat_is_male_part_6.feather',
    'train_feat_is_male_part_7.feather',
    'train_feat_is_male_part_8.feather',
    'train_feat_is_male_part_9.feather',
     ]

list_train_target_is_male  = [
    'train_target_is_male_part_0.csv',
    'train_target_is_male_part_1.csv',
    'train_target_is_male_part_2.csv',
    'train_target_is_male_part_3.csv',
    'train_target_is_male_part_4.csv',
    'train_target_is_male_part_5.csv',
    'train_target_is_male_part_6.csv',
    'train_target_is_male_part_7.csv',
    'train_target_is_male_part_8.csv',
    'train_target_is_male_part_9.csv',
     ]

In [ ]:
list_train_feat_age  = [
    'train_feat_age_part_0.csv',
    'train_feat_age_part_1.csv',
    'train_feat_age_part_2.csv',
    'train_feat_age_part_3.csv',
    'train_feat_age_part_4.csv',
    'train_feat_age_part_5.csv',
    'train_feat_age_part_6.csv',
    'train_feat_age_part_7.csv',
    'train_feat_age_part_8.csv',
    'train_feat_age_part_9.csv',
     ]

list_train_target_age  = [
    'train_target_age_part_0.csv',
    'train_target_age_part_1.csv',
    'train_target_age_part_2.csv',
    'train_target_age_part_3.csv',
    'train_target_age_part_4.csv',
    'train_target_age_part_5.csv',
    'train_target_age_part_6.csv',
    'train_target_age_part_7.csv',
    'train_target_age_part_8.csv',
    'train_target_age_part_9.csv',
     ]
list_train_feat_is_male  = [
    'train_feat_is_male_part_0.feather',
    'train_feat_is_male_part_1.feather',
    'train_feat_is_male_part_2.feather',
    'train_feat_is_male_part_3.feather',
    'train_feat_is_male_part_4.feather',
    'train_feat_is_male_part_5.feather',
    'train_feat_is_male_part_6.feather',
    'train_feat_is_male_part_7.feather',
    'train_feat_is_male_part_8.feather',
    'train_feat_is_male_part_9.feather',
     ]

list_train_target_is_male  = [
    'train_target_is_male_part_0.csv',
    'train_target_is_male_part_1.csv',
    'train_target_is_male_part_2.csv',
    'train_target_is_male_part_3.csv',
    'train_target_is_male_part_4.csv',
    'train_target_is_male_part_5.csv',
    'train_target_is_male_part_6.csv',
    'train_target_is_male_part_7.csv',
    'train_target_is_male_part_8.csv',
    'train_target_is_male_part_9.csv',
     ]

### цикл склейки age

In [ ]:
%%time
#цикл склейки train_feat_age
#первый файл
df = pd.read_feather(f'{LOCAL_DATA_PATH}{list_train_feat_age[0]}')
#df = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_feat_age[0]}')
print (list_train_feat_age[0],'shape', df.shape)


for i in range (1,10):
  df_ = pd.read_feather(f'{LOCAL_DATA_PATH}{list_train_feat_age[i]}')
  #df_ = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_feat_age[i]}')   
  #сшиваем
  df = pd.concat([df, df_], ignore_index=True)
  #контролль цикла
  print (list_train_feat_age[i],'shape', df_.shape)
  #print ('Суммарное df.shape',df.shape)


# сохранение
df.to_feather(f'{LOCAL_DATA_PATH}/train_feat_age_df_all_parts.feather')
#df.to_csv(f'{LOCAL_DATA_PATH}/train_feat_age_df_all_parts.csv' ,index=False)

print ('Итоговый файл сохранен на диск')



#цикл склейки train_target_age
#первый файл
df = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_target_age[0]}')
print (list_train_target_age[0],'shape', df.shape)


for i in range (1,10):
  #df_ = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_target_age[i]}')
       
  #сшиваем
  df = pd.concat([df, pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_target_age[i]}')], ignore_index=True)
  #контролль цикла
  print (list_train_target_age[i],'shape', df_.shape)
  #print ('Суммарное df.shape',df.shape)


# сохранение
# pickle быстрее сохраняет( раз в 5-6) и читает, но  больше размером на диске в 6-7  раз
df.to_csv(f'{LOCAL_DATA_PATH}/train_target_age_df_all_parts.csv', index=False)
#df.to_pickle(f'{LOCAL_DATA_PATH}/train_target_age_df_all_parts.pkl')
#df.to_feather(f'{LOCAL_DATA_PATH}/train_target_age_df_all_parts.feather')

print ('Итоговый файл  train_target_age_df_all_parts сохранен на диск')

train_feat_age_part_0.feather shape (27081, 2505)
train_feat_age_part_1.feather shape (26936, 2505)
train_feat_age_part_2.feather shape (26801, 2504)
train_feat_age_part_3.feather shape (26901, 2505)
train_feat_age_part_4.feather shape (26794, 2504)
train_feat_age_part_5.feather shape (26962, 2505)
train_feat_age_part_6.feather shape (26817, 2505)
train_feat_age_part_7.feather shape (26839, 2505)
train_feat_age_part_8.feather shape (26883, 2504)
train_feat_age_part_9.feather shape (26908, 2505)
Итоговый файл сохранен на диск
train_target_age_part_0.csv shape (27081, 1)
train_target_age_part_1.csv shape (26908, 2505)
train_target_age_part_2.csv shape (26908, 2505)
train_target_age_part_3.csv shape (26908, 2505)
train_target_age_part_4.csv shape (26908, 2505)
train_target_age_part_5.csv shape (26908, 2505)
train_target_age_part_6.csv shape (26908, 2505)
train_target_age_part_7.csv shape (26908, 2505)
train_target_age_part_8.csv shape (26908, 2505)
train_target_age_part_9.csv shape (26908, 2505)
Итоговый файл  train_target_age_df_all_parts сохранен на диск
CPU times: user 17.4 s, sys: 17 s, total: 34.3 s
Wall time: 50.1 s

### цикл склейки is_male

In [ ]:
#цикл склейки train_feat_is_male
#первый файл
df = pd.read_feather(f'{LOCAL_DATA_PATH}{list_train_feat_is_male[0]}')
print (list_train_feat_is_male[0],'shape', df.shape)


for i in range (1,len(list_train_feat_is_male)):
  df_ = pd.read_feather(f'{LOCAL_DATA_PATH}{list_train_feat_is_male[i]}')
       
  #сшиваем
  df = pd.concat([df, df_], ignore_index=True)
  #контролль цикла
  print (list_train_feat_is_male[i],'shape', df_.shape)
  #print ('Суммарное df.shape',df.shape)


# сохранение

df.to_feather(f'{LOCAL_DATA_PATH}/train_feat_is_male_df_all_parts.feather')
print ('Итоговый файл сохранен на диск')



#цикл склейки train_target_is_male
#первый файл
df = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_target_is_male[0]}')
print (list_train_target_is_male[0],'shape', df.shape)


for i in range (1,len(list_train_target_is_male)):
  df_ = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_target_is_male[i]}')
       
  #сшиваем
  df = pd.concat([df, df_], ignore_index=True)
  #контролль цикла
  print (list_train_target_is_male[i],'shape', df_.shape)
  #print ('Суммарное df.shape',df.shape)


# сохранение

df.to_csv(f'{LOCAL_DATA_PATH}/train_target_is_male_df_all_parts.csv', index=False)

#df.to_feather(f'{LOCAL_DATA_PATH}/train_target_is_male_df_all_parts.feather')

print ('Итоговый файл  train_target_is_male_df_all_parts сохранен на диск')

FileNotFoundError: ignored

In [ ]:

#цикл склейки train_target_is_male
#первый файл
df = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_target_is_male[0]}')
print (list_train_target_is_male[0],'shape', df.shape)

for i in range (1,len(list_train_target_is_male)):
  df_ = pd.read_csv(f'{LOCAL_DATA_PATH}{list_train_target_is_male[i]}')
       
  #сшиваем
  df = pd.concat([df, df_], ignore_index=True)
  #контролль цикла
  print (list_train_target_is_male[i],'shape', df_.shape)
  #print ('Суммарное df.shape',df.shape)


# сохранение

df.to_csv(f'{LOCAL_DATA_PATH}/train_target_is_male_df_all_parts.csv', index=False)

#df.to_feather(f'{LOCAL_DATA_PATH}/train_target_is_male_df_all_parts.feather')

print ('Итоговый файл  train_target_is_male_df_all_parts сохранен на диск')

train_target_is_male_part_0.csv shape (26529, 1)
train_target_is_male_part_1.csv shape (26394, 1)
train_target_is_male_part_2.csv shape (26269, 1)
train_target_is_male_part_3.csv shape (26338, 1)
train_target_is_male_part_4.csv shape (26251, 1)
train_target_is_male_part_5.csv shape (26410, 1)
train_target_is_male_part_6.csv shape (26287, 1)
train_target_is_male_part_7.csv shape (26356, 1)
train_target_is_male_part_8.csv shape (26316, 1)
train_target_is_male_part_9.csv shape (26358, 1)
Итоговый файл  train_target_is_male_df_all_parts сохранен на диск

In [ ]:
df.shape

(410594, 211)

# tmp

### cpe_manufacturer_name

In [ ]:
#загрузим данные
df_train = pd.read_pickle(f'{LOCAL_DATA_PATH}train_part_0.pkl')#.sample(frac=0.1, random_state=777)
df_train.shape

(27081, 20)

In [ ]:
df_train.head(1)

,user_id,day,evening,morning,night,cpe_model_name,cpe_manufacturer_name,apple.com,google.com,icloud.com,instagram.com,mail.yandex.ru,o2.mail.ru,online.sberbank.ru,play.google.com,vk.com,yandex.ru,zen.yandex.ru,age,is_male
0,4,199.0,170.0,212.0,10.0,Nova 3,Huawei,NaN,28.0,NaN,1.0,NaN,17.0,8.0,1.0,32.0,21.0,2.0,2,0

In [ ]:
df_train['pusto'] = ' '

In [ ]:
df_train['model'] = df_train['cpe_manufacturer_name'] + ' ' + df_train['cpe_model_name']

In [ ]:
df_train['model'].unique()

array(['Huawei Nova 3', 'Samsung Galaxy A10 Dual',
       'Samsung Galaxy A51 Dual', 'Samsung Galaxy A7 2017 Dual',
       'Apple iPhone 8 Plus', 'Apple iPhone XR', 'Huawei Honor 9 Lite',
       'Samsung Galaxy J6 Plus Dual', 'Huawei Honor 8A',
       'Huawei Honor 8X', 'Xiaomi Redmi Note 8T', 'Huawei Honor 9 Dual',
       'Samsung Galaxy A52', 'Huawei Honor 10 Lite', 'Apple iPhone 11',
       'Apple iPhone 5S', 'Samsung Galaxy A5 2017 Dual', 'Apple iPhone X',
       'Apple iPhone 11 Pro Max', 'Apple iPhone 6', 'Apple iPhone 7',
       'Apple iPhone 7 Plus', 'Huawei Honor 7A Pro',
       'Samsung Galaxy A50 Dual', 'Samsung Galaxy A9 2018 Dual',
       'Xiaomi Redmi 9C NFC', 'Apple iPhone 6S', 'Apple iPhone 11 Pro',
       'Samsung Galaxy A5 2016 Duos', 'Xiaomi Redmi Note 8 Pro',
       'Samsung Galaxy A30 Dual', 'Apple iPhone SE', 'Apple iPhone 8',
       'Huawei Honor 20', 'Apple iPhone Xs', 'Xiaomi Redmi 6A',
       'Huawei Honor 7S Dual', 'Samsung Galaxy M31',
       'Samsung Galaxy A7 2018 Dual', 'Samsung Galaxy A32 LTE',
       'Apple iPhone 12 Pro', 'Samsung Galaxy A30s Dual',
       'Huawei Honor 20 Pro', nan, 'Samsung Galaxy A11 Dual',
       'Samsung Galaxy A12', 'Samsung Galaxy S III Neo Plus',
       'Samsung Galaxy S20 FE', 'Xiaomi Redmi 9',
       'Samsung Galaxy S10e Dual', 'Huawei P30 Pro', 'Samsung Galaxy A31',
       'Xiaomi Poco X3 NFC', 'Huawei Y3 2017 MT6737M Dual',
       'Samsung Galaxy A71 Dual Russia', 'Xiaomi Redmi Note 7',
       'Apple iPhone 12 Pro Max', 'Huawei P Smart Z',
       'Samsung Galaxy S8 Dual', 'Samsung Galaxy J5 2016 LTE Dual',
       'Samsung Galaxy J4 Plus Dual', 'Samsung Galaxy A70 Dual',
       'Samsung Galaxy A20 Dual', 'Samsung Galaxy J6 Dual',
       'Samsung Galaxy Note 20 Ultra', 'Samsung Galaxy A40 Dual',
       'Samsung Galaxy A8 2018 Dual', 'Xiaomi Redmi Note 10 Pro',
       'Xiaomi Redmi Note 9 Pro', 'Samsung Galaxy A72', 'Xiaomi Redmi 8',
       'Samsung Galaxy A51',
       'Realme Chongqing Mobile Telecommunications Corp Ltd XT',
       'Huawei Device Company Limited Honor 10X Lite',
       'Realme Chongqing Mobile Telecommunications Corp Ltd X50',
       'Samsung Galaxy S9 Dual', 'Apple iPhone Xs Max', 'Huawei P30',
       'Apple iPhone 6 Plus', 'Samsung Galaxy M12', 'Xiaomi Redmi Note 9',
       'Huawei P30 lite', 'Samsung Galaxy M21',
       'Huawei Honor 6C Pro Dual', 'Apple iPhone 12',
       'Xiaomi Redmi 9A Global', 'Samsung Galaxy J1 2016 LTE Dual',
       'Xiaomi Mi 9 SE', 'Xiaomi Poco X3', 'Huawei Honor 8 Dual',
       'Huawei Honor 6A', 'Samsung Galaxy S10 Dual', 'Huawei Y5 2019',
       'Huawei P20 Lite', 'Huawei Honor 7X', 'Samsung Galaxy S20 Dual',
       'Xiaomi Redmi 9C', 'Huawei HONOR 20S', 'Samsung Galaxy A5 2017',
       'Samsung Galaxy A80 Dual', 'Samsung Galaxy A3 2016 Duos',
       'Huawei Honor 8 Lite', 'Samsung Galaxy S21', 'Huawei Y5 Lite',
       'Samsung Galaxy A20s Dual', 'Apple iPhone SE 2020',
       'Samsung Galaxy S21 Ultra 5G', 'Samsung Galaxy J3 LTE Dual',
       'Samsung Galaxy A21s', 'ZTE Blade A3 2020RU', 'Xiaomi Redmi 6',
       'Huawei Honor 9A', 'Oppo A1k', 'Xiaomi Redmi 3S',
       'Huawei Y3 2017 MT6580M Dual', 'Samsung Galaxy J2 Prime Dual',
       'Samsung Galaxy S10 Plus Dual', 'Nokia 5 Dual', 'Huawei Honor 6X',
       'Samsung Galaxy S5 4G', 'Huawei Nova 5T', 'Vivo Y17',
       'Huawei Honor 10', 'Apple iPhone 13 Pro', 'Xiaomi Redmi Note 8',
       'Xiaomi Poco M3', 'Xiaomi Redmi 9A', 'Samsung Galaxy S8 Plus Dual',
       'Samsung Galaxy S7 Dual Southeast Asia', 'Xiaomi Mi Note 10 Lite',
       'Xiaomi Redmi K20', 'Huawei Honor View 20', 'Xiaomi Redmi 4A',
       'Samsung Galaxy J2 Core Dual', 'Samsung Galaxy A6',
       'Huawei Y7 2019', 'Huawei Honor 8S', 'Samsung Galaxy S10',
       'Huawei Y7p', 'Asus Zenfone Max Plus ZB570TL', 'Huawei Y6 2019',
       'Huawei Honor 8C', 'Samsung Galaxy S9 Plus Dual',
       'Samsung Galaxy Note 9 Dual', 'Samsung Galaxy A3 2017 Dual',
       'Huawei P Smart Dual', 'Xiaomi Redmi Note 4X',
       'Samsung Galaxy A02 Dual SIM', 'Apple iPhone 12 mini',
       'Huawei Mate 10 Lite', 'Huawei Honor 20 Lite',
       'Samsung Galaxy A02s', 'HTC U Ultra', 'Huawei Honor 7C',
       'Huawei P20 Pro', 'Samsung Galaxy J3 2017 Dual',
       'Samsung Galaxy M31s', 'Samsung Galaxy S20+',
       'Huawei Mate 20 Lite', 'Huawei Y5 Prime 2018',
       'Huawei Honor 5C Dual', 'Huawei P Smart 2019', 'Xiaomi Redmi 4X',
       'Samsung Galaxy J4 2018 Dual', 'Apple iPhone 13',
       'Xiaomi Redmi Note 5A', 'Samsung Galaxy Note 8 Dual',
       'Xiaomi MI Mix 2S', 'Samsung Galaxy J7 2016 LTE Dual',
       'Xiaomi Redmi 7A', 'Vivo S1 Pro',
       'Realme Chongqing Mobile Telecommunications Corp Ltd 6',
       'Apple iPhone 5', 'Sony Xperia XA2', 'Samsung Galaxy Note10 Lite',
       'Xiaomi Redmi 5 Plus',
       'Realme Chongqing Mobile Telecommunications Corp Ltd C3',
       'Xiaomi Note7', 'Honor Device Company Limited Honor 50',
       'Vivo Y11', 'Huawei P40 Lite',
       'Realme Chongqing Mobile Telecommunications Corp Ltd Realme 7 Pro',
       'Samsung Galaxy J5 2017 Dual', 'Oppo Reno2',
       'Huawei Device Company Limited P Smart 2021',
       'Xiaomi Redmi Note 3 Pro',
       'Realme Chongqing Mobile Telecommunications Corp Ltd C21',
       'Xiaomi Poco X3 Pro', 'Apple iPhone 4S',
       'Samsung Galaxy A01 Dual Global', 'Vivo Y31', 'Xiaomi MI 8',
       'Xiaomi Redmi Note 6 Pro', 'ZTE Blade A5', 'Xiaomi MI A2 Lite',
       'Asus Zenfone Max Pro M1', 'Oppo A5s', 'Huawei Honor 9S',
       'Samsung Galaxy J7 2017 Dual', 'Xiaomi Mi 9 Lite', 'Oppo F11 Pro',
       'Xiaomi Redmi 7', 'Xiaomi Redmi Note 9S',
       'Realme Chongqing Mobile Telecommunications Corp Ltd C11',
       'Xiaomi Redmi 4 Prime', 'Samsung Galaxy A6 Plus 2018 Dual',
       'Apple iPhone 6S Plus', 'Xiaomi MI 8 Lite', 'Meizu M6 Note',
       'Asus ZenFone 5', 'Samsung Galaxy M51 Dual',
       'Xiaomi Mi 10 Lite 5G', 'Vivo Y1s', 'Xiaomi Redmi 9T',
       'Samsung Galaxy Note 10 Dual', 'Samsung Galaxy J3 2016',
       'Xiaomi MI Note 3', 'Oppo A9 2020', 'Xiaomi MI A1',
       'Xiaomi Redmi Note 4', 'Oppo A92s', 'Xiaomi Mi 10T Pro',
       'Xiaomi Redmi Note 7 Pro', 'Nokia 5.4',
       'Samsung Galaxy J7 Core Dual', 'Samsung Galaxy A10',
       'Xiaomi Mi 10T Pro 5G', 'Samsung Galaxy A3 LTE Dual',
       'Xiaomi Redmi Note 5', 'Huawei Honor 9C', 'Oppo A5 2020',
       'Samsung Galaxy A8 Plus 2018 Dual', 'Samsung Galaxy A41 Dual',
       'Samsung Galaxy Note 10 Plus Dual', 'Huawei Y8p',
       'Huawei Honor View 10', 'Huawei Honor Play', 'Xiaomi MI A3',
       'Doke Communication (HK) Limited BV5900', 'Huawei Honor 30 5G',
       'Samsung Galaxy J2 2018 Dual', 'Xiaomi MI 5S', 'Nokia 7.2',
       'Realme Chongqing Mobile Telecommunications Corp Ltd 6i',
       'Xiaomi 11T', 'Xiaomi MI A2', 'Huawei Honor 30 Pro+', 'Oppo A91',
       'Samsung Galaxy A6 2018 Dual', 'Xiaomi Redmi 5', 'Nokia C20',
       'Vivo Y19', 'LG X Power Dual', 'Huawei Nova 2', 'Xiaomi Redmi 8A',
       'Nokia 6 Dual', 'ZTE Blade L8', 'Huawei P9 Lite Dual',
       'Itel Technology Limited A16 Plus', 'Huawei Honor V30 Pro',
       'Apple iPhone 13 Pro Max', 'Samsung Galaxy Tab A 8.0 2019 LTE',
       'Samsung Galaxy S21 FE', 'Xiaomi Redmi Go', 'Xiaomi Redmi K20 Pro',
       'Samsung Galaxy A6 Plus', 'ZTE Blade 20 Smart',
       'Samsung Galaxy J5 Prime Dual', 'Xiaomi MI Max 2',
       'Huawei Y9s 2019', 'Xiaomi Mi 9', 'Huawei Y6 Prime 2018',
       'Nokia 8 Dual', 'Samsung Galaxy J8 Dual',
       'Samsung Galaxy S6 Edge+ LTE-A', 'Meizu M6',
       'Samsung Galaxy Note 9', 'Huawei Mate 20 Pro',
       'Huawei GR3 2017 Dual',
       'Samsung Galaxy Note20 Ultra 5G Dual Global',
       'Samsung Galaxy S21+ 5G', 'Xiaomi Redmi Note 10',
       'Xiaomi Redmi 5A', 'Vivo Y20', 'OnePlus 7 Pro', 'LeEco Le 2',
       'Samsung Galaxy A01 Core Dual',
       'Samsung Galaxy S7 EDGE Dual Indonesia', 'Huawei P10',
       'Nokia 7 Plus Dual', 'Nokia 3 Dual', 'Sony Xperia E5',
       'Samsung Galaxy A22', 'Huawei P40', 'Huawei Y9 2018',
       'Realme Chongqing Mobile Telecommunications Corp Ltd RMX2021',
       'Huawei Y5 2017 Dual', 'OnePlus 5T', 'Oppo A54',
       'Apple iPhone 12 (A2403) Global', 'Samsung Galaxy Note 20',
       'Apple iPhone 13 mini', 'Huawei P40 Pro', 'Xiaomi Mi 5 Pro',
       'Asus Live L1', 'Xiaomi MI 6', 'Huawei Honor 30S',
       'Sony Mobile Communications Inc. Xperia 5', 'Vivo Y91i',
       'Alcatel 1', 'Xiaomi Mi Note 10', 'Huawei MediaPad M5 Lite 8',
       'Samsung Galaxy S20 Ultra 5G Dual', 'Meizu M6T',
       'Samsung Galaxy Note 10 Plus Brasil, China', 'Oppo F11 PRO',
       'Samsung Galaxy S20', 'Asus Zenfone 4 Max ZC520KL', 'OnePlus 6T',
       'Huawei Mate 20', 'Asus Zenfone Max', 'Xiaomi Pocophone F1',
       'Samsung Galaxy A7', 'Asus Zenfone Max Pro', 'Samsung Galaxy A22s',
       'Doogee S60', 'Sony Xperia XA1', 'Vivo Y93', 'Huawei Honor 8X Max',
       'Xiaomi Poco F2 Pro', 'OnePlus 8 PRO 5G', 'Vivo Y81',
       'Realme Chongqing Mobile Telecommunications Corp Ltd Realme 8',
       'Xiaomi Mi 10T',
       'Realme Chongqing Mobile Telecommunications Corp Ltd 8 Pro',
       'Meizu M6s', 'Meizu M3 Note', 'Huawei P9', 'OnePlus 8T',
       'Huawei P10 Lite', 'Xiaomi Redmi S2', 'Vivo 1904',
       'Sony Xperia X Compact', 'Samsung Galaxy M01 Dual Global',
       'ZTE Blade L210RU', 'Huawei Mate 20 RS',
       'Samsung Galaxy S10 Lite Dual', 'Xiaomi Mi 11 Lite',
       'Xiaomi Redmi Note 10S', 'Huawei P40 Lite E',
       'Xiaomi Redmi Note 5A Prime', 'Xiaomi MEG7',
       'Samsung Galaxy A5 LTE Dual', 'Samsung Galaxy M11 Dual',
       'ZTE Blade V10 Vita RU', 'Vivo V20 SE', 'Meizu Note 9',
       'Realme Chongqing Mobile Telecommunications Corp Ltd RMX2180',
       'ZTE Blade A7', 'Asus Zenfone Max Pro ZB631KL',
       'Google Inc Pixel 2 XL', 'Samsung Galaxy A12 Nacho',
       'Xiaomi Mi 11 Lite 5G', 'Samsung Galaxy S6 Edge', 'Oppo A15',
       'Xiaomi MI 5S Plus', 'Lenovo Vibe Shot', 'Samsung Galaxy A3 2017',
       'Samsung Galaxy A01 Core', 'BQ Devices Limited BQ-5340 Choice',
       'Samsung Galaxy Note 4', 'Samsung Galaxy Grand Prime Duos',
       'Xiaomi Mi 10 Pro 5G', 'Xiaomi Redmi 3', 'Nokia 5.1 Plus',
       'Sony Xperia XA1 Plus', 'Samsung Galaxy S6', 'Xiaomi MI Mix 2',
       'Tecno SPARK 6 Go', 'Nokia 6.1 Dual', 'Nokia 2.1 Dual',
       'Huawei P20', 'Vivo V21e', 'LG K10 LTE Dual', 'ZTE Blade V8',
       'Honor Device Company Limited NTN-LX1',
       'Samsung Galaxy Tab A 8.0 2019', 'Oppo Reno', 'Vivo V17 Neo',
       'Huawei Y6 II Compact', 'Itel Technology Limited L6006',
       'Alcatel 1X', 'Sony Mobile Communications Inc. Xperia 1',
       'Xiaomi Mi Max 3', 'Apple iPhone 5C', 'Xiaomi Mi 10T 5G',
       'Huawei Honor 4C Pro', 'Huawei Enjoy 7 Dual', 'Vivo Y30',
       'OnePlus 6', 'Oppo Reno3', 'Sony Xperia XZ1',
       'Huawei Device Company Limited Y6p', 'Samsung Galaxy S20 Ultra 5G',
       'Meizu M5s 32Gb',
       'Realme Chongqing Mobile Telecommunications Corp Ltd 5',
       'Realme Chongqing Mobile Telecommunications Corp Ltd 5 Pro',
       'OnePlus 7', 'Xiaomi POCO F3', 'ZTE Blade V9', 'Oppo Reno2 Z',
       'LG Q6 Dual', 'Vivo V20', 'Highscreen Limited Max 3',
       'Huawei P10 Lite Dual', 'Asus Zenfone 4 Max',
       'Sony Mobile Communications Inc. Xperia 10', 'Xiaomi Redmi 10T',
       'Samsung Galaxy J1 Mini Prime Duos', 'ZTE Blade A3 2019',
       'Samsung Galaxy S10 Plus', 'Samsung Galaxy J1 mini 3G Dual',
       'Meizu M5 Note', 'Samsung Galaxy M30S Dual', 'Samsung Galaxy S21+',
       'OnePlus 7T', 'Google Inc Pixel 4a', 'Xiaomi Mi 8 Lite',
       'Huawei Honor V9', 'Xiaomi Mi 8 Pro',
       'Asus ZenFone 2 Laser 5.0 ZE500KL', 'Xiaomi Xiaomi 11T Pro',
       'OnePlus 7T Pro', 'Samsung Galaxy Z Fold2 5G', 'LG V30 Dual',
       'Samsung SM-F711B', 'BQ Devices Limited Magic', 'OnePlus 5',
       'Meizu M5c', 'Samsung Galaxy S8 Plus', 'ZTE Blade A7s',
       'Tecno LC7', 'Huawei Nova', 'Samsung Galaxy S9',
       'Sony Mobile Communications Inc. Xperia XZ3', 'Xiaomi MI MAX2',
       'HTC U11', 'ZTE Blade A6', 'Sony Xperia L2',
       'Realme Chongqing Mobile Telecommunications Corp Ltd 7',
       'Asus ZenFone 3 Max ZC520TL', 'Nokia 7.1 DS',
       'Samsung Galaxy S6 Duos LTE-A', 'Samsung Galaxy S8',
       'Blackview BV6000', 'Xiaomi Mi Max', 'Samsung Galaxy Tab A 10.5',
       'Doke Communication (HK) Limited BV9500 Plus',
       'Samsung Galaxy Tab A 9.7 LTE', 'OnePlus 9 Pro 5G',
       'Huawei MediaPad T3 8.0', 'Samsung Galaxy A7 2016 Duos',
       'Asus ROG Phone', 'Xiaomi POCO M3 Pro 5G', 'Alcatel U5 3G Dual',
       'Realme Chongqing Mobile Telecommunications Corp Ltd K20 Pro',
       'Sony Xperia XA1 Ultra', 'LG G7 ThinQ', 'Huawei Honor 5A',
       'Samsung Galaxy Tab A 10.1 2016', 'Huawei P Smart Plus',
       'Oppo RX17 Neo', 'Xiaomi 11 Lite 5G NE', 'Samsung Galaxy M20 Dual',
       'Xiaomi Redmi 10 Pebble White', 'Sony Xperia XZ Premium',
       'Sony Xperia L1', 'Samsung Galaxy S9 Plus', 'OnePlus KB2003',
       'Samsung Galaxy Note20 Ultra 5G Global', 'Google Inc Pixel 3',
       'Asus ZenFone 3 ZE552KL', 'Yandex LLC YNDX-000SB', 'Meizu Pro 7',
       'Motorola Moto G9 Play', 'Meizu U10'], dtype=object)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26529 entries, 0 to 27080
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                26529 non-null  int64
 1   day                    25792 non-null  float64
 2   evening                24953 non-null  float64
 3   morning                25250 non-null  float64
 4   night                  21685 non-null  float64
 5   cpe_model_name         26118 non-null  object
 6   cpe_manufacturer_name  26118 non-null  object
 7   apple.com              9120 non-null   float64
 8   google.com             17817 non-null  float64
 9   icloud.com             6228 non-null   float64
 10  instagram.com          11166 non-null  float64
 11  mail.yandex.ru         15094 non-null  float64
 12  o2.mail.ru             10110 non-null  float64
 13  online.sberbank.ru     20273 non-null  float64
 14  play.google.com        16650 non-null  float64
 15  vk.com                 23939 non-null  float64
 16  yandex.ru              24696 non-null  float64
 17  zen.yandex.ru          18783 non-null  float64
 18  age                    26529 non-null  int64
 19  is_male                26529 non-null  object
 20  model                  26118 non-null  object
 21  pusto                  26529 non-null  object
dtypes: float64(15), int64(2), object(5)
memory usage: 4.7+ MB

## Посмотрим  по сколько строк на кажлм пльзователе.   
чтобы выкинуть тех у кого мало и котрые не дадут инфы для МЛ.    
тут я получил, что  чем больше возраст тем меньше на user_id строк с урлами, меньше кол-во среднего

In [ ]:
df.pivot_table(index='user_id', values='request_cnt', aggfunc=('count')).reset_index()

       user_id  request_cnt
0            4          591
1           16         1231
2           18         1125
3           26         1018
4           29         1458
...        ...          ...
27173   415227            4
27174   415251            3
27175   415266            3
27176   415273            1
27177   415277            5

[27178 rows x 2 columns]

   user_id  request_cnt
0        4          591
1       16         1231
2       18         1125

In [ ]:
df_pivot['request_cnt'].describe()

count    27178.000000
mean       786.966517
std       1045.336455
min          1.000000
25%        106.000000
50%        426.000000
75%       1060.000000
max      17481.000000
Name: request_cnt, dtype: float64

##Нужен список топ УРЛОВ

In [ ]:
df = pq.read_table(f'{LOCAL_DATA_PATH}part-00000-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet').\
select(['url_host','request_cnt']).to_pandas()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32638709 entries, 0 to 32638708
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   url_host     object
 1   request_cnt  int64
dtypes: int64(1), object(1)
memory usage: 498.0+ MB

In [ ]:
#всего урлов
# цикл грузит из паркета ид
df = pq.read_table(f'{LOCAL_DATA_PATH}{part_list[0]}').select(['url_host']).to_pandas()
for i in  range(3,7):
  df_ = pq.read_table(f'{LOCAL_DATA_PATH}{part_list[i]}').select(['url_host','request_cnt']).to_pandas()
  #соединяем
  df = pd.concat([df, df_], ignore_index=True)
  #контролль цикла
  print ('df_,shape',df_.shape)
  print ('df,shape',df.shape)

df_,shape (32156858, 2)
df,shape (64795567, 2)
df_,shape (32119163, 2)
df,shape (96914730, 2)
df_,shape (32300908, 2)
df,shape (129215638, 2)
df_,shape (32134423, 2)
df,shape (161350061, 2)

In [ ]:
df_urls = df['url_host'].value_counts().reset_index()#['url_host'].describe()

In [ ]:
df_urls

                                              index  url_host
0                       googleads.g.doubleclick.net  10974508
1                                         yandex.ru   9493377
2                                       i.ytimg.com   8416659
3                                            vk.com   8319908
4                            avatars.mds.yandex.net   8093162
...                                             ...       ...
154844                      emelind.livejournal.com         1
154845        temhuk-livejournal-com.turbopages.org         1
154846                                       bbp.ru         1
154847  vestiukraine-livejournal-com.turbopages.org         1
154848                                    tatist.ru         1

[154849 rows x 2 columns]

In [ ]:
#в список топ
top_urls = set(df['url_host'].value_counts().head(2000).index)

In [ ]:
top_urls

Index(['googleads.g.doubleclick.net', 'yandex.ru', 'i.ytimg.com', 'vk.com',
       'avatars.mds.yandex.net', 'ad.mail.ru', 'yastatic.net', 'apple.com',
       'ads.adfox.ru', 'tpc.googlesyndication.com',
       ...
       'amic-ru.turbopages.org', 'qrcoder.ru', 'kino.rambler.ru',
       'service-online.su', 'friday.ru', 'tgramsearch.com',
       'bashinform-ru.turbopages.org', 'kogda-vykhodit.ru', 'snipp.ru',
       'rutaxist.ru'],
      dtype='object', length=2000)

In [ ]:
#cохраняем список топ урлов, чтобы тимур пометил не нужные
df_urls.to_csv(f'{LOCAL_DATA_PATH}/top_all_urls.csv', index=False)

In [ ]:
df_top_urls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9636142 entries, 0 to 21388167
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   region_name            object
 1   city_name              object
 2   cpe_manufacturer_name  object
 3   cpe_model_name         object
 4   url_host               object
 5   cpe_type_cd            object
 6   cpe_model_os_type      object
 7   price                  float64
 8   date                   object
 9   part_of_day            object
 10  request_cnt            int64
 11  user_id                int64
 12  age                    float64
 13  is_male                object
dtypes: float64(2), int64(2), object(10)
memory usage: 1.1+ GB

## FeaturesEng  \ Определяем нужны ли фичи
Загрузим df с таргетами ,все кроме урлов. Урежем таблицу. Зупустим ML.

In [ ]:
df.drop(columns=['url_host','date', 'region_name','city_name', 'price','request_cnt','part_of_day','cpe_type_cd' ], inplace=True)  #'part_of_day',

In [ ]:
df.drop(columns=['part_of_day'], inplace=True) #'url_host',

In [ ]:
#df.drop(columns=['cpe_type_cd','cpe_model_name'], inplace=True)

In [ ]:
#после удаления урлов у нас куча строк дубликатов
df.drop_duplicates(inplace=True)

In [ ]:
#выкидывыаем возраст меньше 19
df = df[df['age'] >= 19]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27081 entries, 0 to 21385071
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cpe_model_name  27081 non-null  object
 1   user_id         27081 non-null  int64
 2   age             27081 non-null  float64
 3   is_male         27081 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.0+ MB

In [ ]:
df.head(2)

     cpe_model_name  user_id   age is_male
0       Galaxy S20+    79395  35.0       1
1635    Poco X3 Pro    91294  35.0       1

In [ ]:
df.head(2)

  cpe_model_name  user_id  age is_male    day  evening  morning  night
0    Galaxy S20+    79395    1       1  586.0    524.0    346.0  179.0
1    Poco X3 Pro    91294    1       1  551.0    515.0    338.0  166.0

# 3.ML

In [ ]:
#сабмиты и таргеты
id_for_target = pq.read_table(f'{LOCAL_DATA_PATH}/{TARGET_FILE}').to_pandas().query ('age >=19 ')
id_for_submit = pq.read_table(f'{LOCAL_DATA_PATH}/{SUBMISSION_FILE}').to_pandas()

In [ ]:
id_for_submit['user_id'].nunique()

144724

In [ ]:
id_for_target['user_id'].nunique()

268922

### Подгружаем файл с дииска
Трайн и сабмиты отдельно.   
Для age и is_male  отдельно.

In [ ]:
#df_train = pd.read_pickle(f'{LOCAL_DATA_PATH}/train_df_all_parts.pkl')
#df_train = pd.read_csv(f'{LOCAL_DATA_PATH}/train_df_all_parts.csv')   # csv  не подгруждается, не хватает памяти..

In [19]:
df_submit = pd.read_feather(f'{LOCAL_DATA_PATH}/submit_df_all_parts.feather')
df_submit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144724 entries, 0 to 144723
Columns: 2506 entries, user_id to zyf03k.xyz
dtypes: float64(2504), int64(1), object(1)
memory usage: 2.7+ GB

In [17]:
df_submit.loc[df_submit['cpe_model_name'].isna() ,'cpe_model_name'] = '0'

In [18]:
df_submit.loc[df_submit['cpe_model_name'].isna() ,'cpe_model_name']

Series([], Name: cpe_model_name, dtype: object)

In [7]:
df_submit = df_submit.drop(['user_id'], axis=1)

0         635.0
1         132.0
2         704.0
3          82.0
4         189.0
          ...
144719      NaN
144720      NaN
144721      NaN
144722      4.0
144723      NaN
Name: morning, Length: 144724, dtype: float64

In [7]:
# проверим размерности
#print ('df_train.shape =', df_train.shape)
print ('df_submit.shape =', df_submit.shape)

df_submit.shape = (144724, 2506)

## ML age

In [ ]:
# загружаем файл для age
#df_train_feat_age = pd.read_feather(f'{LOCAL_DATA_PATH}train_feat_age_df_all_parts.feather')
#df_train_target_age = pd.read_csv(f'{LOCAL_DATA_PATH}train_target_age_df_all_parts.csv')

In [6]:
#cat_features = ['cpe_manufacturer_name',	'cpe_model_os_type' ] #	,
cat_features = ['cpe_model_name']

### Поиск гиперпаратметров кэт для age,  use optuna
возьмем выборку 10% с общего файла или кусок один..

In [ ]:
#пока тут
import optuna
from sklearn.metrics import f1_score

In [ ]:
#загрузим данные
df_train = pd.read_feather(f'{LOCAL_DATA_PATH}train_part_0.feather')#.sample(frac=0.1, random_state=777)
df_train.shape

(27078, 2508)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(\
    df_train.drop(['user_id', 'age', 'is_male'], axis = 1), \
    df_train['age'], test_size = 0.33, random_state = 777)

In [ ]:
def objective(trial):
    
    params = {
        'iterations': trial.suggest_int('iterations', 100, 1000),
        'learning_rate': trial.suggest_loguniform('learning_rate', 0.001, 0.1),
        'depth': trial.suggest_int('depth', 4, 10),
        'l2_leaf_reg': trial.suggest_int('l2_leaf_reg', 1, 10),
        'border_count': trial.suggest_int('border_count', 32, 255),
        'random_strength': trial.suggest_int('random_strength', 1, 100),
        'bagging_temperature': trial.suggest_loguniform('bagging_temperature', 0.01, 100.00)
    }

    model = CatBoostClassifier(**params, cat_features=cat_features, silent=True)
    model.fit(x_train, y_train, eval_set=(x_test, y_test), early_stopping_rounds=100, verbose=False)

    y_pred = model.predict(x_test)
    f1 = f1_score(y_test, y_pred, average='weighted')

    return 1.0 - f1

In [ ]:
%%time
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=100)

print('Number of finished trials:', len(study.trials))
print('Best trial:', study.best_trial.params)

[I 2023-03-01 17:52:45,921] A new study created in memory with name: no-name-b3d9549c-45e2-41e9-85a9-fe1107eea898
<ipython-input-111-1a69750e193a>:5: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'learning_rate': trial.suggest_loguniform('learning_rate', 0.001, 0.1),
<ipython-input-111-1a69750e193a>:10: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'bagging_temperature': trial.suggest_loguniform('bagging_temperature', 0.01, 100.00)
[I 2023-03-01 18:24:36,292] Trial 0 finished with value: 0.8364013876915181 and parameters: {'iterations': 309, 'learning_rate': 0.010184915467627361, 'depth': 10, 'l2_leaf_reg': 3, 'border_count': 255, 'random_strength': 53, 'bagging_temperature': 1.1997682470432331}. Best is trial 0 with value: 0.8364013876915181.
<ipython-input-111-1a69750e193a>:5: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'learning_rate': trial.suggest_loguniform('learning_rate', 0.001, 0.1),
<ipython-input-111-1a69750e193a>:10: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'bagging_temperature': trial.suggest_loguniform('bagging_temperature', 0.01, 100.00)
[I 2023-03-01 18:51:18,041] Trial 1 finished with value: 0.8398085239142878 and parameters: {'iterations': 566, 'learning_rate': 0.0047405670828938595, 'depth': 8, 'l2_leaf_reg': 8, 'border_count': 77, 'random_strength': 67, 'bagging_temperature': 0.45105332496890516}. Best is trial 0 with value: 0.8364013876915181.
<ipython-input-111-1a69750e193a>:5: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'learning_rate': trial.suggest_loguniform('learning_rate', 0.001, 0.1),
<ipython-input-111-1a69750e193a>:10: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'bagging_temperature': trial.suggest_loguniform('bagging_temperature', 0.01, 100.00)
[I 2023-03-01 19:14:20,384] Trial 2 finished with value: 0.8408607391134524 and parameters: {'iterations': 615, 'learning_rate': 0.002388225487392558, 'depth': 7, 'l2_leaf_reg': 8, 'border_count': 220, 'random_strength': 77, 'bagging_temperature': 0.05455344925011703}. Best is trial 0 with value: 0.8364013876915181.
<ipython-input-111-1a69750e193a>:5: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'learning_rate': trial.suggest_loguniform('learning_rate', 0.001, 0.1),
<ipython-input-111-1a69750e193a>:10: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'bagging_temperature': trial.suggest_loguniform('bagging_temperature', 0.01, 100.00)
[I 2023-03-01 19:19:21,070] Trial 3 finished with value: 0.8368010437073539 and parameters: {'iterations': 772, 'learning_rate': 0.0080579458758831, 'depth': 4, 'l2_leaf_reg': 3, 'border_count': 91, 'random_strength': 26, 'bagging_temperature': 1.9591047666946424}. Best is trial 0 with value: 0.8364013876915181.
<ipython-input-111-1a69750e193a>:5: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'learning_rate': trial.suggest_loguniform('learning_rate', 0.001, 0.1),
<ipython-input-111-1a69750e193a>:10: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'bagging_temperature': trial.suggest_loguniform('bagging_temperature', 0.01, 100.00)
[W 2023-03-01 19:19:22,646] Trial 4 failed with parameters: {'iterations': 830, 'learning_rate': 0.002024541508730709, 'depth': 10, 'l2_leaf_reg': 8, 'border_count': 64, 'random_strength': 17, 'bagging_temperature': 90.31679071517839} because of the following error: CatBoostError('catboost/private/libs/algo/tensor_search_helpers.cpp:99: This should be unreachable').
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/optuna/study/_optimize.py", line 200, in _run_trial
    value_or_values = func(trial)
  File "<ipython-input-111-1a69750e193a>", line 14, in objective
    model.fit(x_train, y_train, eval_set=(x_test, y_test), early_stopping_rounds=100, verbose=False)
  File "/usr/local/lib/python3.8/dist-packages/catboost/core.py", line 5128, in fit
    self._fit(X, y, cat_features, text_features, embedding_features, None, sample_weight, None, None, None, None, baseline, use_best_model,
  File "/usr/local/lib/python3.8/dist-packages/catboost/core.py", line 2355, in _fit
    self._train(
  File "/usr/local/lib/python3.8/dist-packages/catboost/core.py", line 1759, in _train
    self._object._train(train_pool, test_pool, params, allow_clear_pool, init_model._object if init_model else None)
  File "_catboost.pyx", line 4623, in _catboost._CatBoost._train
  File "_catboost.pyx", line 4672, in _catboost._CatBoost._train
_catboost.CatBoostError: catboost/private/libs/algo/tensor_search_helpers.cpp:99: This should be unreachable
[W 2023-03-01 19:19:22,649] Trial 4 failed with value None.

CatBoostError: ignored

In [ ]:
best_params = study.best_trial.params
best_params

{'iterations': 309,
 'learning_rate': 0.010184915467627361,
 'depth': 10,
 'l2_leaf_reg': 3,
 'border_count': 255,
 'random_strength': 53,
 'bagging_temperature': 1.1997682470432331}

In [ ]:
#это что отыскала оптуна до сбоя но получилась чушь , неа дефолтах в гораздо лучгше
# нужно переобучить оптуну, разхобраться что за х
best_params = {'iterations': 309,
 'learning_rate': 0.010184915467627361,
 'depth': 10,
 'l2_leaf_reg': 3,
 'border_count': 255,
 'random_strength': 53,
 'bagging_temperature': 1.1997682470432331}

In [ ]:
#best_params = study.best_trial.params
model = CatBoostClassifier(**best_params,cat_features=cat_features, silent=True )
model.fit(x_train, y_train)
print(metrics.classification_report(y_test, model.predict(x_test), \
    target_names = [ '19-25','26-34', '36-45', '46-56', '56-65', '65+']))

NameError: ignored

In [ ]:
print(metrics.classification_report(y_test, model.predict(x_test), \
    target_names = [ '19-25','26-34', '36-45', '46-56', '56-65', '65+']))

              precision    recall  f1-score   support

       19-25       0.00      0.00      0.00      1110
       26-34       0.33      1.00      0.49      2901
       36-45       0.28      0.01      0.01      2546
       46-56       0.00      0.00      0.00      1423
       56-65       0.00      0.00      0.00       776
         65+       0.00      0.00      0.00       180

    accuracy                           0.33      8936
   macro avg       0.10      0.17      0.08      8936
weighted avg       0.19      0.33      0.16      8936

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

###Трайн,Тест Сплит

In [ ]:
#загрузим данные
df_train = pd.read_pickle(f'{LOCAL_DATA_PATH}train_part_0.pkl')#.sample(frac=0.1, random_state=777)
df_train.shape

(27081, 3341)

In [ ]:
df_train.columns

Index(['user_id', 'day', 'evening', 'morning', 'night', 'cpe_model_name', '-1',
       '0-hi--tech-mail-ru-0.cdn.ampproject.org', '03online.com', '1',
       ...
       'zooportal.pro', 'zr-ru.turbopages.org', 'zvonili.com', 'zvuch.com',
       'zvuk.com', 'zvukipro.com', 'zycrypto.com', 'zyf03k.xyz', 'age',
       'is_male'],
      dtype='object', length=3008)

In [ ]:
df_train['model'] = df_train['cpe_manufacturer_name'] + ' ' + df_train['cpe_model_name']
df_train = df_train.drop(['cpe_model_name','cpe_manufacturer_name'], axis=1)

In [ ]:
df_train = df_train.drop(['cpe_manufacturer_name'], axis=1)

In [ ]:
cat_features = ['cpe_model_name'] 
#cat_features = ['cpe_manufacturer_name']
#cat_features = ['model']

In [ ]:
cat_features

['cpe_model_name']

In [ ]:
df_train.loc[df_train['cpe_model_name'].isna() ,'cpe_model_name'] = 0

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(\
    df_train.drop(['user_id', 'age', 'is_male'], axis = 1), \
    df_train['age'], test_size = 0.33, random_state = 777)

In [ ]:
%%time
#тест модели 
clf = CatBoostClassifier()
clf.fit(x_train, y_train,cat_features, verbose = False)
print(metrics.classification_report(y_test, clf.predict(x_test), \
    target_names = [ '19-25','26-34', '36-45', '46-56', '56-65', '65+']))

              precision    recall  f1-score   support

       19-25       0.53      0.25      0.34      1099
       26-34       0.47      0.66      0.55      2924
       36-45       0.39      0.49      0.43      2575
       46-56       0.37      0.18      0.25      1430
       56-65       0.43      0.18      0.25       721
         65+       0.33      0.01      0.02       188

    accuracy                           0.43      8937
   macro avg       0.42      0.29      0.31      8937
weighted avg       0.43      0.43      0.40      8937

CPU times: user 17min 9s, sys: 1min 7s, total: 18min 16s
Wall time: 10min 55s

### Обучение на всей трайн выборке для сабмитов

In [ ]:
# подгружаем
df_train_feat_age = pd.read_feather(f'{LOCAL_DATA_PATH}train_feat_age_df_all_parts.feather')
df_train_target_age = pd.read_csv(f'{LOCAL_DATA_PATH}train_target_age_df_all_parts.csv')

In [ ]:
cat_features = ['cpe_model_name']

In [ ]:
%%time
# финальное обучение для сабмита
clf = CatBoostClassifier()
clf.fit(df_train_feat_age, df_train_target_age, cat_features, verbose = False)

CPU times: user 4h 34min 9s, sys: 1min 43s, total: 4h 35min 52s
Wall time: 2h 35min 55s

In [ ]:
##########################
# SAVE-LOAD using joblib #
##########################
# save
joblib.dump(clf, f'{LOCAL_DATA_PATH}model_age_v2.pkl')

['/content/drive/MyDrive/DS/MTS/model_age_v2.pkl']

In [8]:
# load
clf_age = joblib.load(f'{LOCAL_DATA_PATH}model_age_v2.pkl')

In [9]:
# предикты возраста
predict_age = clf_age.predict(df_submit)

In [ ]:
#сохраняем в файл
pd.Series(predict_age.reshape(-1)).to_pickle(f'{LOCAL_DATA_PATH}predict_age.pkl')

## ML is_male

In [ ]:
#загружаем данные для is_male
#df_train_feat_is_male = pd.read_pickle(f'{LOCAL_DATA_PATH}train_feat_is_male_df_all_parts.pkl')
#df_train_target_is_male = pd.read_pickle(f'{LOCAL_DATA_PATH}train_target_is_male_df_all_parts.pkl')
df_train_feat_is_male = pd.read_feather(f'{LOCAL_DATA_PATH}train_feat_is_male_df_all_parts.feather')
df_train_target_is_male = pd.read_feather(f'{LOCAL_DATA_PATH}train_target_is_male_df_all_parts.feather')

### Трайн Тест Сплит

In [ ]:
df_train_target_is_male['is_male'].unique()
df_train_target_is_male.shape

NameError: ignored

In [ ]:
cat_features = ['cpe_model_name']

In [ ]:
df_train['is_male'].unique()

array(['0', '1'], dtype=object)

In [ ]:
df_train = df_train[df_train['is_male'] != 'NA']

In [ ]:
%%time
x_train, x_test, y_train, y_test = train_test_split(\
    df_train.drop(['user_id', 'age', 'is_male'], axis = 1), df_train['is_male'], test_size = 0.33, random_state = 777)
clf = CatBoostClassifier()
clf.fit(x_train, y_train, cat_features , verbose = False )

CPU times: user 3min 37s, sys: 5.23 s, total: 3min 43s
Wall time: 2min 15s

In [ ]:
print(f'GINI по полу {2 * metrics.roc_auc_score(y_test, clf.predict_proba(x_test)[:,1]) - 1:2.3f}')

GINI по полу 0.667

### Обучение на всей выбоке для сабмитов

In [ ]:
df_train_feat_is_male = pd.read_feather(f'{LOCAL_DATA_PATH}train_feat_is_male_df_all_parts.feather')
df_train_target_is_male = pd.read_csv(f'{LOCAL_DATA_PATH}train_target_is_male_df_all_parts.csv')

In [ ]:
cat_features = ['cpe_model_name']

In [ ]:
df_train_target_is_male.head()

   is_male
0        0
1        0
2        1
3        0
4        0

In [ ]:
%%time

# обучения для сабмита на всей выборке
clf = CatBoostClassifier()
clf.fit(df_train_feat_is_male, df_train_target_is_male, cat_features , verbose = False )

CPU times: user 43min 28s, sys: 8.37 s, total: 43min 36s
Wall time: 24min 39s

In [ ]:
##########################
# SAVE-LOAD using joblib #
##########################
joblib.dump(clf, f'{LOCAL_DATA_PATH}model_is_male_v2.pkl')

['/content/drive/MyDrive/DS/MTS/model_is_male_v2.pkl']

In [10]:
# load
clf_is_male = joblib.load(f'{LOCAL_DATA_PATH}model_is_male_v2.pkl')

In [11]:
predict_is_male_proba = clf_is_male.predict_proba(df_submit)

In [ ]:
#сохранем
pd.Series(predict_is_male_proba[:,1]).to_pickle(f'{LOCAL_DATA_PATH}predict_is_male_proba.pkl')

In [14]:
predict_is_male_proba[:,0].shape

(144724,)

## Заполняем id_to_submit

In [ ]:
#меняем категорию
def fix_age_cat(age):
  if age == 0:
    return 1
  elif age == 1:
    return 2
  elif age == 2:
    return 3
  elif age == 3:
    return 4
  elif age == 4:
    return 5
  return 6

In [20]:
#это временный дата сет, т к у нас нет некоторого числа user_id  
a = pd.DataFrame (df_submit['user_id'])

In [21]:
a['is_male'] = predict_is_male_proba[:,1]
a['age'] =  predict_age

In [ ]:
# fix категории
a['age'] = a['age'].map(fix_age_cat)

In [22]:
a['age'].unique()

array([2, 1, 3, 4, 5, 6])

In [23]:
id_to_submit = pq.read_table(f'{LOCAL_DATA_PATH}/{SUBMISSION_FILE}').to_pandas().reset_index(drop=True)

In [15]:
id_to_submit.shape
#a.shape

(144724, 3)

In [14]:
# когда все user_id  в предиктах
id_to_submit['is_male'] = predict_is_male_proba[:,1]
id_to_submit['age'] =  predict_age

In [24]:
#этот мердж правльный
id_to_submit = id_to_submit.merge(a,how='outer', on='user_id')

In [25]:
id_to_submit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144724 entries, 0 to 144723
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  144724 non-null  int64
 1   is_male  144724 non-null  float64
 2   age      144724 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 4.4 MB

In [ ]:
#заполним пропуски is_male = 0.511735 , age = 2 or 3

In [ ]:
#закрывем na
id_to_submit.loc[id_to_submit['age'].isna(),'age'] = 3
id_to_submit.loc[id_to_submit['is_male'].isna(),'is_male'] = 0.52
id_to_submit['age'] = id_to_submit['age'].astype(int)

In [26]:
id_to_submit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144724 entries, 0 to 144723
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  144724 non-null  int64
 1   is_male  144724 non-null  float64
 2   age      144724 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 4.4 MB

In [27]:
id_to_submit.head()

   user_id   is_male  age
0   221301  0.961782    2
1    31271  0.451565    3
2   211594  0.523701    2
3   253119  0.494832    3
4   192578  0.811708    2

In [28]:
#итоговый сохраняем
id_to_submit.to_csv(f'{LOCAL_DATA_PATH}/submission_v4_1.csv', index = False)

## СКоры на лидер борде    
Когда пофиксил категоризацию age
	1,6359491017   это 2300 тпо урлов без отсева технических, кэт дефол